<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li>
  <%= task.completed ? "<i class='far fa-check-square'></i>".html_safe : "<i class='far fa-square'></i>".html_safe %>
  <span> <%= link_to task.title, task_path(task.id) %> <%= link_to "<i class='far fa-trash-alt'>".html_safe, delete_path(task), method: :delete,
      data: { confirm: "Are you sure?" } %></i></span>
  </li>
  <% end %>

</ul>
